body{
  font-family: "Lucida Console", Monaco, monospace;
  background-image: url(http://pre07.deviantart.net/166f/th/pre/f/2008/287/8/9/black_texture___ray_by_ethenyl.jpg);
}
.center-block{
  display: block;
  height: 100px;
  width: 80%;
  text-align: center;

}
div h1{

}
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

li {
   float: left;
   padding-left: 40px;
}

li a {
   display: block;
   color: #04e4f2 ;
   text-align: center;
   font-size: 20px;
   font-family: Verdana;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #04e4f2 ;
}
.img-vill {
 display: block;
 max-width: 100%;
 margin: auto;
 margin-bottom: 30px;
 border: 3px solid #f91e00 ;
}

.hero-panel{
  border: 6px solid black;
  width: calc(50% - 20px);
  margin: 10px;
  text-align: center;
  background-color: red;

}
.hero-img{
  max-width: 80%;
  max-height: 75%;
}

.villain-img{
  max-width: 80%;
}

.display-3{
  font-size: 90px;
  text-shadow: 2px 2px 4px #000000;
}

.lead{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

h1{
  color: white;
  margin-left: 50px;


}
h3{
  font-size: 2.5em;
  font-weight: bolder;
}
.btn{
  background: red;
  border-color: black;

}

ul{
  list-style: none;
}
li{
  font-size: 1.75em;
}

#component{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
